<div class="container">
  <% @projects.each do |project| %>
    <input data-controller="toggle-background"
           data-action="click->toggle-background#background"
           data-toggle-background-target="input"
           type="radio" name="slider" id="item-<%=@count.to_s%>" <%= @count === 1 ? "checked" : "" %> >
    <% @count += 1 %>
  <% end %>
  <div class="cards">
    <% @projects.each do |project| %>
      <label class="card" for="item-<%=@count2%>" id="project-<%=@count2.to_s%>">
        <img src="<%= cl_image_path project.photo.key, height: 300, crop: :fill %>" alt="project">
      </label>
      <% @count2 += 1 %>
    <% end %>
  </div>
  <div class="player">
    <div class="upper-part">
      <div class="info-area" id="test">
        <% @projects.each do |project| %>
          <label class="project-info" id="project-info-<%=@count3%>">
            <div class="title"><%= project.title %></div>
            <div class="sub-line">
              <div class="subtitle"><%= project.categorie.name %></div>
            </div>
          </label>
          <% @count3 += 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
